/* --- Large Laptops --- */

@media screen and (max-width: 1400px) {
  #profile {
    height: 85vh;
    margin-bottom: 6rem;
  }
  #education {
    height: fit-content;
  }  
}


/* --- Tablets & Small Laptops --- */

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #profile {
    display: block;
  }
  section {
    height: fit-content;
    margin: 0;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  #education {
    height: fit-content;
  }
}

/* --- Nest Hub, Zenbook & Landscape Tablets --- */

@media screen and (max-width: 1024px) {
  
  .project-card-container {
    gap: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }

  #projects {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .cards-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 3rem; 
    width: 100%;
  }

  .education-container {
    width: 100%;
    padding: 0;
  }
}

/* --- Medium Screens --- */

@media (max-width: 900px) {
  .project-card {
    width: 100%;
    max-width: 400px; 
    width: 295px;
  }
}

/* --- Small Tablets & Large Phones --- */

@media (max-width: 768px) {
  .more-button {
    top: calc(100% + 5px);
  }
  .cert-container {
    margin-top: 5rem;
  }
}

/* --- Mobile Devices --- */

@media screen and (max-width: 600px) {
  #profile {
    height: 80vh;
    margin-bottom: 0;
    margin-top: 3rem;
  }
  article {
    font-size: 1rem;
  }
  .nav-links li a {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: 46vw;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .footer-credits {
    font-size: 0.8rem;
  }
  .subtitle {
    font-size: 0.8rem;
  }
  
  #education .title,
  #skills .title,
  #projects .title,
  .services-section .title,
  .cert-section .title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  .services-section {
    margin-bottom: 5rem;
  }

  .screen-body-item.left {
    display: flex;
    margin: 0 !important;
    flex-direction: column;
    align-items: center;
  }
  .screen-body-item.left > * {
    margin: 0;
  }
  #contact .app-contact {
    display: none;
  }
}

/* --- Small Mobile --- */

@media screen and (max-width: 520px) {
  #contact .screen-body {
    flex-direction: column;
  }
  #contact .screen-body-item.left {
    margin-bottom: 30px;
  }
  #contact .app-title {
    flex-direction: row;
  }
  #contact .app-title span {
    margin-right: 12px;
  }
  #contact .app-title:after {
    display: none;
  }
}